extends layout

block content
  div#editor 
    | var color = d3.scale.category10();

  div#steps

    div.panel.panel-default
      div.panel-heading Tutorial
      table.table
        tr
          th Step
          th TItle

        tr#step-1
          th 1
          th Defining scales

        tr#step-2
          th 2
          th Defining income axes

        tr#step-3
          th 3
          th Defining life axes

        tr#step-4
          th 4
          th Defining the SVG canvas

        tr#step-5
          th 5
          th Drawing the axes


      br
      br
      div.panel-heading Browser
      iframe#iframe
        html
          body




 fjaeoj
  //script(src='/javascripts/script.js')