doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-ui-ace/ui-ace.js')
    script(src='/bower_components/ace-builds/src/ace.js')
    script(src='/javascripts/script.js')      
  body
    block content